
#content {margin-left: 20px;}
.top-layer a.linkhome {
    color: yellow;
}
.top-layer a.link2 {
    color: yellow;
}

.top-layer a.link3 {
    color: yellow;
}


#Image1 {margin-left: 1100px; width: 250px;}