h1 {
    font-size: 24px;
    color: blue;
    font-weight: bold;  /*dik gedrukt*/
    font-style: italic;   /*schuin gedrukt*/
}

h2 {font-size: 20px;  color: #0000ff; font-weight: bold;}

h3 {font-size: 16px; color: teal; font-weight: bold;}

p {color: #4D4D4D;}
a {color: #8A2BE2;  text-decoration: none;}

#par1 {font-weight: bold;}
   

/*
 id selectie
#kop1
{


}

 class selectie 
.koppen
{

} 