.RequiredStar  {color: red;}

body
{
background-image: url("/Users/xxvan/Downloads/pexels-jplenio-1103970.jpg");
background-size: 100%;

}


table
{margin: auto;}

h1
{text-align: center; margin: auto;  }

#logoimg
{width: 15%; margin-bottom: -110px; }

#Numberinput
{width: 15%;}

/*
dit doet niks
*/

#AccountText
{text-align: center;}

#EmailLabel
{margin-left: -10px;}

#PasswordLabel
{margin-left: -10px;}